html {
    height: 100%;
}

body {
    margin: 0;
    /*background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/SNES-Controller-Flat.jpg/800px-SNES-Controller-Flat.jpg');*/
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#snescontrol {
    background: #D3D4D6;
    display: inline-block;
    padding: 7px;
    border-radius: 90px;
    zoom: 2.2;
    margin: 20px 0 0 5px;
    width: 330px;
    height: 131px;
}

.bttl {
    height: 27px;
    width: 78px;
    background-color: #B9B7BE;
    position: absolute;
    z-index: -1;
    margin-top: -11px;
    margin-left: 26px;
    border-top-right-radius: 3px;
    border-top-left-radius: 59%;
}

.bttr {
    height: 27px;
    width: 78px;
    background-color: #B9B7BE;
    position: absolute;
    z-index: -1;
    margin-top: -11px;
    margin-left: 224px;
    border-top-right-radius: 59%;
    border-top-left-radius: 3px;
}

.arrcont {
    display: inline-block;
    padding: 20px;
    border-radius: 100%;
    height: 42px;
    width: 42px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 24px;

}

.up, .down, .left, .right, .circle {
    height: 20px;
    width: 20px;
    background: #5A5C63;
    display: inline-block;
    position: absolute;
}

.up {
    margin-top: -8px;
    margin-left: 11px;
}

.circle {
    margin-left: 11px;
    margin-top: -6px;
}

.right {
    margin-left: 31px;
    margin-top: -7px;
}

.left {
    margin-left: -8px;
    margin-top: -7px;
}

.down {
    margin-left: 11px;
    margin-top: -6px;
}

.select, .start {
    height: 8px;
    width: 27px;
    background: #5A5C63;
    border-radius: 20px;
    display: inline-block;
    transform: rotate(-38deg);
    vertical-align: top;
    margin-top: 72px;
    margin-left: 8px;
    margin-right: -3px;
    border: 1px solid rgba(0,0,0,0.5);
}

.bttscont {
    background: #B9B7BE;
    display: inline-block;
    padding: 20px;
    border-radius: 100%;
    height: 90px;
    width: 90px;
    margin-left: 13px;
    border: 0.5px solid #2D2E32;
}

.bttcont {
    background: #D3D4D8;
    display: inline-block;
    padding: 3px;
    border-radius: 20px;
    border: 0.5px solid rgba(45, 46, 50, 0.65);
    transform: rotate(52deg);
    position: absolute;
}

.bttcont1 {
    margin-left: 12px;
    margin-top: -5px;
}

.bttcont2 {
    margin-left: 45px;
    margin-top: 20px;
}

.bttx, .btty, .btta, .bttb {
    height: 26px;
    width: 26px;
    border-radius: 100%;    
}

.bttx {
    background: #01389C;
    margin-bottom: 16px;
}

.btty {
    background: #01946A;
}

.btta {
    background: #E60D2C;
    margin-bottom: 16px;
}

.bttb {
    background: #FFBD52;
}

.mask {
    background-color: #5F9EA0;
    height: 17px;
    width: 126px;
    margin-top: -16px;
    margin-left: 102px;
    border-radius: 19px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.mask2 {
    background-color: #5F9EA0;
    height: 13px;
    width: 206px;
    margin-top: -9.7px;
    margin-left: 57px;
}

.circlemask1 {
    background-color: #D3D4D6;
    height: 60px;
    width: 103px;
    margin-top: -60.5px;
    margin-left: 16px;
    border-radius: 100%;
}

.circlemask2 {
    background-color: #D3D4D6;
    height: 60px;
    width: 100px;
    margin-top: -59.5px;
    margin-left: 212px;
    border-radius: 100%;
}